*{
    box-sizing: border-box;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    text-align: right;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right:auto;
}

hr{
    border-top: 2px solid #cccccc;
    width: 825px;
}

h1 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: #4aaaa5;
    width: 350px;
    height: 50px;
    text-align: center;
    position: relative;
    Top: 25px;
}

h2{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    position: relative;
    Top: 20px;
    left: 75px;
}

h3{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;

}

footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    text-align: center;
    font-size: 8px;
    color: lightgray;
    margin-top: 35px;
    margin-left: auto;
    margin-right:auto;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    width: 960px;
    padding-bottom: 15px;
    margin: auto;

}

#me{
    float: left;
    padding: 10px;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #4aaaa5 ;
    margin-top: 2px;
    margin-bottom: 18px;

}

input[type=submit] {
        background-color: #4aaaa5;
        color: white;
        padding: 12px 20px;
}

.Hangman{
    position: relative;
    left: 75px;
}

#Hangman-Text{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    Height: 35px;
    text-align: center;
    bottom: 20px;
}

.Mario{
    position: relative;
    Top: -178px;
    left: 350px;
}

#Mario-Text{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    Height: 35px;
    text-align: center;
    bottom: 20px;
}

.Mountains{
    position: relative;
    left: 75px;
    Top: -150px;
}

#Mountains-Text{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    Height: 35px;
    text-align: center;
    bottom: 20px;
}

.Widget{
    position: relative;
    Top: -328px;
    left: 350px;
}

#Widget-Text{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    Height: 35px;
    text-align: center;
    bottom: 20px;
}

.Rock{
    position: relative;
    left: 75px;
    Top: -300px;
}

#Rock-Text{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    Height: 35px;
    text-align: center;
    bottom: 20px;
}

@media screen and (max-width: 980px ){
    header{
        position: static;
    }
    main{
        width: 800px;

    }
}

@media screen and (max-width: 768px){
    header{
        position: static;
    }
    main{
        width: 600px; 

    }
}

@media screen and (max-width: 640px){
    header{
        position: static;
    }
    main{
        width:500px;

    }
}

